@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600;800&family=Chakra+Petch:wght@400;700&display=swap');

body {background-color: #0d0d0d;
    color:  #f0f0f0;
    font-family: 'Chakra Petch', sans-serif;}

header {background-color: #1a1a1a;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;   
        align-items: center;      
}


header h1 {
    color: #ff82c5;
    font-size: 2.2rem;
    font-family:'Anton', sans-serif;
    letter-spacing: 0.01em;
    border: 5px solid #ff5cb4;
    padding: 0.5rem 0.5rem;
    box-shadow: 0 0 12px rgba(255, 42, 157, 0.5);
    text-align: center;}

h1 { color: #ffffff;
    font-size: 2rem;
    font-family: 'Orbitron'}

h2 { color: #ffffff;
    font-size: 2rem;
    font-family: 'Orbitron'}

section {  
    padding: 20px;
    background-color: #181818;
    margin: 20px;
    line-height: 1.7}

footer {background-color: #121212;
    color: #bbb;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;}


nav ul {
  list-style: none;
  display: flex;    
  gap: 20px;
  padding: 10px 20px;
  color: #000000;
}

a {
  color: #ff1292;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

a:visited {
  color: #bf0079;
}

